{% extends "base.html.twig" %}
{% block title 'My Agency'%}
{% block body %}
    <div class="jumbotron text-center">
        <h1>My agency : a new home for a new life</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In at facilis nostrum ipsum quo deleniti odit corrupti eaque labore accusamus totam accusantium amet, nam veniam voluptates voluptatibus fuga, incidunt voluptatum.</p>
    </div>
    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    {% include "property/_property.html.twig" %}     
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
